.full {
    display: flex;
    width: 100vw;
    height: 100dvh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: calc(100svh - 58px);
    border-right: 3px solid rgb(69, 69, 69);
    width: 16rem;
    box-shadow: var(--f2) 0px 2px 18px -4px;
    z-index: 1;
}

._1 {
    margin-top: 20px;
}

.level-info {
    background-color: black;
    color: var(--f2);
    padding: 24px;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 16rem);
    height: calc(100dvh - 100px);
    text-align: center;
    /* background-color: red;
    border: 1px solid greenyellow; */
}
.top, .bottom{
    background-color: #313131;
    display: flex;
    flex-direction: column;
    height: 100lvh;
    padding: 12px;
    padding-left: 0;
    padding-right: 36px;
    gap: 20px;
}   
.bottom{
    height: 28px;
    margin-top: -20px;
    position: sticky;
}

.finger {
    background-color: black;
    border-radius: 0px 24px 24px 0px;
    padding: 8px;
    box-shadow: var(--f2) 0px 2px 18px -4px;
    transform: translateX(-120px);
    display: flex;
    justify-content: center;

    font-family: var(--jers);
    font-size: 28px;
    color: var(--f2);
    transition: transform 0.25s ease-in-out;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.fingerOut {
    transform: translateX(0px);
}

.finger:hover {
    transform: translateX(-100px);   
}

.finger.fingerOut:hover {
  transform: translateX(0);
}


.exit {
    font-family: var(--jers);
    font-size: 28px;
    color: var(--f2);
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 8px;
    border-radius: 0px 24px 24px 0px;
    margin-top: -20px;
    box-shadow: var(--f2) 0px 2px 18px -4px;
    text-decoration: none;
}



.display {
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 0.6rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 12px;
  color: white;
}

.correct { background-color: green; }
.incorrect { background-color: red; }

.contentRes {
  width: 80%;
  text-align: start;
}
