<div class="background">
    <div class="navbar">
        <div class="Nleft">
            <div class="about">Über Google</div>
            <div class="store">Store</div>
        </div>
        <div class="Nright">
            <div class="gmail">Gmail</div>
            <div class="images">Bilder</div>
            <div class="apps-ico">
                <img src="assets/apps.svg" alt="">
            </div>
            @if (loggedIn == 'true') {
                <div (click)="logout()" class="login">
                    <div>Abmelden</div>
                </div>
            }
            @else {
                <div (click)="toLogin()" class="login">
                    <div>Anmelden</div>
                </div>
            }
        </div>
    </div>

    <div class="body">
        <div class="search-container">
            <div class="logo">
                <img src="assets/google.png" alt="">
            </div>

            <div class="search-box">
                <div class="search_ico ico">
                    <svg (click)="doSearch()" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
                    </svg>
                </div>

                <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="doSearch()" placeholder="">

                <div class="mic_ico ico">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path d="M8.25 4.5a3.75 3.75 0 1 1 7.5 0v8.25a3.75 3.75 0 1 1-7.5 0V4.5Z" />
                        <path d="M6 10.5a.75.75 0 0 1 .75.75v1.5a5.25 5.25 0 1 0 10.5 0v-1.5a.75.75 0 0 1 1.5 0v1.5a6.751 6.751 0 0 1-6 6.709v2.291h3a.75.75 0 0 1 0 1.5h-7.5a.75.75 0 0 1 0-1.5h3v-2.291a6.751 6.751 0 0 1-6-6.709v-1.5A.75.75 0 0 1 6 10.5Z" />
                    </svg>  
                </div>

                <div class="cam_ico ico">
                   <svg fill="#e3e3e3" focusable="false" viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg">
                        <path d="M480-320q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm240 160q-33 0-56.5-23.5T640-240q0-33 23.5-56.5T720-320q33 0 56.5 23.5T800-240q0 33-23.5 56.5T720-160Zm-440 40q-66 0-113-47t-47-113v-80h80v80q0 33 23.5 56.5T280-200h200v80H280Zm480-320v-160q0-33-23.5-56.5T680-680H280q-33 0-56.5 23.5T200-600v120h-80v-120q0-66 47-113t113-47h80l40-80h160l40 80h80q66 0 113 47t47 113v160h-80Z"></path>
                    </svg>
                </div>
            </div>

            <div class="buttons">
                <button>Google Suche</button>
                <button>Auf gut Glück!</button>
            </div>

            <p class="m_text">Starte durch mit KI: Hol dir praktische Skills mit <a href="#"> Kursen von Google</a></p>
        </div>
    </div>

    



    <div class="footer">
        <div class="country">
            <div class="country-text">Deutschland</div>
        </div>
        <div class="footer_U">
            <div class="Fleft">
                <div class="ads">Werbeprogramme</div>
                <div class="buisiness">Unternehmen</div>
                <div class="howSearch">Wie funktioniert die Google Suche?</div>
            </div>
            <div class="Fmiddle">
                <div class="ecological">🍃 Drei Jahrzehnte Klimaschutz: Jede Entscheidung zählt</div>
            </div>
            <div class="Fright">
                <div class="dsgvo">Datenschutzerklärung</div>
                <div class="terms">Nutzungsbedingungen</div>
                <div class="settings">Einstellungen</div>
            </div>
        </div>
    </div>
</div>



