<div class="full">
    <div class="sidebar">
        <div class="top">
            
            <div class="difSignal">
                @if (level.difficulty === 1) {
                    <div class="r"></div>
                    <div class="y"></div>
                    <div class="g sel"></div>
                }
                @else if (level.difficulty === 2) {
                    <div class="r"></div>
                    <div class="y sel"></div>
                    <div class="g"></div>
                }
                @else if (level.difficulty === 3) {
                    <div class="r sel"></div>
                    <div class="y"></div>
                    <div class="g"></div>
                }
                @else {
                    <div class="r"></div>
                    <div class="y"></div>
                    <div class="g"></div>
                }
                
                
            </div>

            <div class="timer">
                {{displayTime}}
            </div>

        </div>
        

        <div class="bottom">
            <a class="exit" href="">
                &lt;- zurück
            </a>
        </div>
    </div>

    <div class="main">

        <app-level-content></app-level-content>

        <!-- <div (click)="completeLevel()" class="next_btn btn">
            <a href="">weiter ></a>
        </div> -->
    </div>
</div>
