<div class="full">
    <div class="sidebar">
        <div class="top">
            
            <div class="difSignal">
                <div class="r"></div>
                <div class="y"></div>
                <div class="g"></div>
            </div>

            <div class="timer">
                {{displayTime}}
            </div>

        </div>
        

        <div class="bottom">
            <a class="exit" href="">
                <- zurück
            </a>
        </div>
    </div>

    <div class="main">

        <app-login-level></app-login-level>

        <div (click)="completeLevel()" class="next_btn btn">
            <a href="">weiter ></a>
        </div>
    </div>
</div>
