<div class="map-container">
    <div class="blend"></div>
    @for (point of pathPoints; track $index) {
        <div
            class="level"
            [style.left.%]="point.x"
            [style.top.%]="point.y"
            [class.active]="currentPosition === $index"
            (click)="moveTo($index)"
        >
            {{ $index + 1 }}
        </div>
    }


    <div
        class="player"
        [style.left.%]="pathPoints[currentPosition].x - 1"
        [style.top.%]="pathPoints[currentPosition].y - 9"
    >
        🧍
    </div>
</div>

<div class="start-button">
    &gt;START&lt;
</div>

