<div class="map-container">
    <div class="blend"></div>
    @for (level of pathPoints; track $index) {
        @if(level.vis) {
            <div
                class="level"
                [style.left.%]="level.x"
                [style.top.%]="level.y"
                [class.active]="currentPosition === $index"
                (click)="moveTo($index)"
            >
                {{ $index + 1 }}
                <div class="name">
                    {{ level.name }}
                </div>
            </div>
        }
    }

    <div
        class="player"
        [style.left.%]="pathPoints[currentPosition].x - 1"
        [style.top.%]="pathPoints[currentPosition].y - 9"
    >
        🧍
    </div>
</div>

<div class="start-button">
    &gt;START&lt;
</div>

